@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --btn-hover: hsl(246, 59%, 63%);;

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.capitalize-text {
    text-transform: capitalize;
}

body {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    font-size: 1.6rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--pale-blue);
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: top; 
}

body > #card {
    max-width: 400px;
    width: 100%;
    background-color: var(--very-pale-blue);
    border-radius: 1rem;
    text-align: center;
}

#card > #ilustration-container {
    max-width: 100%;
    height: auto;
}

#card > #ilustration-container img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

#card > #content {
    margin-block: 1rem;
    padding: 2.5rem;
    padding-top: 0;
}

#card > #content > #text-information {
    margin-bottom: 2rem;
}

#card > #content > #text-information > header {
    margin-bottom: 1rem;
}

#text-information > header h1 {
    color: var(--dark-blue);
    font-size: 2.9rem;
}

#text-information p {
    color: var(--desaturated-blue);
    padding-inline: 2rem;
    line-height: 2.5rem;
}

#content > #plan-service-container {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.041);
    background-color: rgb(239, 246, 255);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#plan-service-container > #price-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#plan-service-container > #price-container > figure {
    max-width: 100%;
    height: auto;
}

#plan-service-container > #price-container > figure > img {
    border-radius: 50%;
}

#price-container > #plan-service h2 {
    color: var(--dark-blue);
    font-size: 1.7rem;
    margin-bottom: .3rem;
}

#price-container > #plan-service p {
    color: var(--desaturated-blue);
}

#plan-service-container > a:hover {
    text-decoration: none;
    color: var(--btn-hover);
}

#content > #btn-payment {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding-block: 1.4rem;

    background-color: var(--bright-blue);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 1rem;
    color: var(--very-pale-blue);
    
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
}

#content > #btn-payment:hover {
    background-color: var(--btn-hover);
}

#content > #cancel-order {
    color: var(--desaturated-blue);
    text-decoration: none;
}

#content > #cancel-order:hover {
    color: var(--dark-blue);
}

@media screen and (max-width: 375px) {
    body {
        background-image: url('../images/pattern-background-mobile.svg');
        background-position: center;
    }

    #text-information > header h1 {
        font-size: 2.5rem;
    }

    #text-information p {
        padding-inline: 1rem;
    }
}